<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= user.imageName %>" data-test="user-image" />
      <h2 data-test="user-name"><%= user.name %></h2>
      <p data-test="user-email"><%= user.email %></p>
      <% if(currentUser.id === user.id) { %>
      <a href="<%= `/users/${user.id}/edit` %>">Edit</a>
      <% } %>
      <div class="follow-count-wrap">
        <a href="#modal-follow" class="modal-follow-open">
          <label class="follow-list-button follower-list-button" for="follower-tab-button">
            <span>
              <%= followCount.followerCount %>
              <span>Followers</span>
            </span>
          </label>

        </a>
        <svg class="follow-count-svg" xmlns="http://www.w3.org/2000/svg" width="2" height="24" viewBox="0 0 2 24" fill="none">
          <path d="M1 0V24" stroke="#9E9E9E" stroke-width="0.5" />
        </svg>
        <label class="follow-list-button following-list-button" for="following-tab-button">
          <span>
            <%= followCount.followCount %>
            <span>Following</span>
          </span>
        </label>
        <!-- ここもーだる -->
        <%- include('./ff-list-modal.ejs', {followers, followees, currentUrl}); %>
      </div>
      <%- include('../follow', {userId : user.id, isFollowed:isFollowed, currentUrl: currentUrl}); %>
    </div>
    <ul class="user-tabs">
      <li class="active">
        <a href="<%= `/users/${user.id}` %>">Posts</a>
      </li>
      <li>
        <a href="<%= `/users/${user.id}/likes` %>">Likes</a>
      </li>
    </ul>
    <%- include('../_timeline', {timeline: timeline}); %>
  </div>
</div>